@charset "UTF-8"
body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1 {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
   }